

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #d2131398;
  }
  a:hover {
    color: #747bff;
   
  }
  btnbtn-danger{
    background-color: red;  }
    
  button {
    background-color: skyblue;
  }
}
